.idea
*.iml

C:\Users\romul\JavaProjects\GeekBrain\java-net-course\project\common\src\main\java\ru\daniilazarnov\newp\FileReceiver.java
C:\Users\romul\JavaProjects\GeekBrain\java-net-course\project\common\src\main\java\ru\daniilazarnov\newp\FileSender.java
C:\Users\romul\JavaProjects\GeekBrain\java-net-course\project\common\src\main\java\ru\daniilazarnov\newp\State.java
C:\Users\romul\JavaProjects\GeekBrain\java-net-course\project\common\src\main\java\ru\daniilazarnov\newp\Utils.java
C:\Users\romul\JavaProjects\GeekBrain\java-net-course\project\server\src\main\java\ru\daniilazarnov\Test.java

**/target
